<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>948119670640-c6v1hqg4qf9bmtpatu1otcgtluo1agjo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.948119670640-c6v1hqg4qf9bmtpatu1otcgtluo1agjo</string>
	<key>API_KEY</key>
	<string>AIzaSyAJ9fStPQi4MtpgNTk1f-VsHgdg6WESCXs</string>
	<key>GCM_SENDER_ID</key>
	<string>948119670640</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mini.ebay</string>
	<key>PROJECT_ID</key>
	<string>mini-ebay-c628f</string>
	<key>STORAGE_BUCKET</key>
	<string>mini-ebay-c628f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:948119670640:ios:9183ffe440bed4260909b5</string>
</dict>
</plist>